body{
    background-color: #f5f7fa;
}

.dashboard-card{
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.dashboard-card:hover{
    transform: translateY(-5px);
}